<h2>Login</h2>

<%= form_for :session, url: login_path, method: :post do |form|%>

    <div class="field">
        <%= form.label :cpf %>
        <%= form.text_field :cpf %>
    </div>

    <div class="field">
        <%= form.label :password %>
        <%= form.text_field :password %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

    <% end %>

<%= link_to "Voltar", root_path %>
