<p id="notice"><%= notice %></p>

<h2>Olá, <%= current_usuario.nome_completo %></h2>

<%= link_to 'Vizualizar', current_usuario%> |
<%= link_to 'Editar dados', edit_usuario_path(current_usuario)%>
<hr>

<h1>Agendamento Vacinas</h1>

<table>
  <thead>
    <tr>
      <th>Nome da vacina</th>
      <th>Localizacao</th>
      <th>Data</th>
      <th>Horario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacinas.each do |vacina| %>
      <tr>
        <td><%= vacina.nome_vacina %></td>
        <td><%= vacina.localizacao %></td>
        <td><%= vacina.data %></td>
        <td><%= vacina.horario %></td>
        <td><%= link_to 'Show', vacina %></td>
        <td><%= link_to 'Edit', edit_vacina_path(vacina), id:"e-#{vacina.nome_vacina}" %></td>
        <td><%= link_to 'Destroy', vacina, method: :delete, id:"d-#{vacina.nome_vacina}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Vacina', new_vacina_path %><br><br><br>
<hr><hr>
<%= link_to "Sair", sair_path, method: :delete %>
